{% extends 'baseLR.html.twig' %}

{% block title %}Register{% endblock %}

{% block asideright %}
    <span class="login100-form-title p-b-43">
						Modifier Medecin
					</span>
    {{ form(form) }}

{% endblock %}

