{% extends 'base.html.twig' %}
{% block body %}
    <h2>FORMULAIRE DE MODIFICATION</h2>
    <table cellspacing="0" cellpadding="0" WIDTH="100%">
        <th>
            {{ form(form) }}


        </th></table>
{% endblock %}