/* layout */
$glyph: 'Glyphicons Halflings';
$desktop-height: 1050px;

/* colors */
$templateColor: #5bb7ed;
$titleColor: #444444;
$textColor: #666666;
$hoverColor: #006699;
$sliderTextColor: #7e7e7e;
$LinksColor: #7e7e7e;
$elementsTextColor: #777777;

/* fonts */
$defaultFont: 'Open Sans',Helvetica,Arial,sans-serif;
$titleFont: 'Muli', sans-serif;
